p {
  
  width: 500px;
  border-style: double;
  border-color: yellow;
  border-width: 10px;
  padding: 40px;
  margin: 30px;
  background-color: teal;
  color: white;
  font-size: large;
  font-style: normal;

}

h1{
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;

}

